
    .RH-LAYOUT-COOKIES-accept-button {
  background: #172664;
}

.RH-LAYOUT-FILTERS-filter-selected {
  background: #172664;
}

.RH-LAYOUT-GLOSSARY-item-selected {
  color: #172664;
}

.RH-LAYOUT-LEFTPANEL-item-text {
  color: #6A737C;
}

.RH-LAYOUT-FILTERS-topic-filtered-text{
  color: undefined;
}

.RH-LAYOUT-HEADER-title {
  color: #ffffff;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-prediction-item-selected {
  color: #172664;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-results-header {
  color: #172664;
}

.RH-LAYOUT-LEFTPANEL-tab-selected {
  color: #172664;
}

.rh-layout-INDEX-selected-item .RH-LAYOUT-LEFTPANEL-selected-item-text {
  color: #172664;
}

.RH-LAYOUT-MINITOC-selected-pointer {
  background-color: #172664;
}

.RH-LAYOUT-RIGHTPANEL-container {
  color: #6A737C;
  background-color: undefined;
  font-family: Arial;
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-container {
  font-family: Arial;
}

.RH-LAYOUT-HOMEPAGE-TOC-toc-list {
  font-family: Arial;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-RIGHTPANEL-container {
  color: #6A737C;
  background-color: undefined;
}

.RH-LAYOUT-SEARCHRESULTS-results-inner-box
  .RH-LAYOUT-SEARCHRESULTS-result-item
  .RH-LAYOUT-SEARCHRESULTS-result-item-title {
  color: #172664;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-gloss-term {
  color: #172664;
}

.RH-LAYOUT-SEARCHRESULTS-results-outer-box .RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-glossary-term-definition {
  color: #707070;
}

.RH-LAYOUT-SEARCHBOX-prediction-selected {
  color: #172664;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-title {
  color: #ffffff;
}

.RH-LAYOUT-CENTERPANEL-topic-box {
  color: undefined;
  background-color: undefined;
}

.RH-LAYOUT-BODY-container {
  background-color: undefined;
}

.RH-LAYOUT-CENTERPANEL-topic-box a {
  color: undefined;
}

.RH-LAYOUT-LEFTPANEL-container {
  background-color: white;
  color: #6A737C;
  font-family: Arial;
}

.RH-LAYOUT-LEFTPANEL-tab-box {
  color: #4D4D4D;
}

.rh-layout-TOOLBAR-tool-list {
  color: #6A737C;
}

.RH-LAYOUT-FAVORITE-label {
  color: #6A737C;
}

.RH-LAYOUT-SEARCHRESULTS-container {
  font-family: Arial;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-container {
  font-family: Arial;
}

.RH-LAYOUT-SEARCHBOX-clear-icon {
  color: #172664;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-clear-icon {
  color: #172664;
}

.RH-LAYOUT-MINITOC-item {
  color: #6A737C;
}

.RH-LAYOUT-MINITOC-selected-item {
  color: #172664;
}

.rh-layout-TOOLBAR-custom-button-wrapper {
  background-color: undefined;
}

.RH-LAYOUT-TOOLBAR-toolbar-box {
  background-color: undefined;
  font-family: Arial;
}

.RH-LAYOUT-SEARCH-to-right {
  font-family: Arial;
}

.rh-selectdetails {
  font-family: Arial;
}

.RH-LAYOUT-BRS-container {
  font-family: Arial;
}

.RH-LAYOUT-LEFTPANEL-tree-item-selected a {
  color: #172664;
}

.RH-LAYOUT-GLOSSARY-glossary-term-div:hover {
  color: #172664;
}

.RH-LAYOUT-INDEX-selected-item {
  color: #172664;
}

.RH-LAYOUT-GLOSSARY-term-def {
  background-color: undefined;
  color: #6A737C;
}

.RH-LAYOUT-INDEX-index-view a {
  color: #6A737C;
}

.RH-LAYOUT-INDEX-item {
  color: #6A737C;
}

.RH-LAYOUT-LEFTPANEL-glossary-term {
  color: #6A737C;
}

.RH-LAYOUT-BCRUMBS-brdcrmb-item {
  color: #707070;
}

.RH-LAYOUT-BCRUMBS-active-topic {
  color: #4B4B4B;
}

.RH-LAYOUT-MINITOC-caption {
  color: #393939;
}

.RH-LAYOUT-LEFTPANEL-selected-icon {
  background-color: #172664;
}

.RH-LAYOUT-MINITOC-item-selected::before {
  background-color: #172664;
}

.RH-LAYOUT-BRS-prev-box {
  color: #676767;
}

.RH-LAYOUT-BRS-next-box {
  color: #676767;
}

.rh-layout-FILTERS-rightpanel-filter-search-textbox {
  color: #959494;
}

.RH-LAYOUT-HEADER-container {
  background-color: white;
  font-family: Arial;
  border-bottom: none;
}

.rh-layout-LEFTPANEL-toc-icon-open {
  background-color: undefined;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item-title {
  color: #172664;
}

.RH-LAYOUT-HOMEPAGE-TOC-title {
  color: #3A4147;
}

.rh-layout-RIGHTPANEL-rightpanel-Saved-list ul {
  color: #4d4d4d;
}

.RH-LAYOUT-RIGHTPANEL-fav-button {
  background-color: undefined;
}

.RH-LAYOUT-RIGHTPANEL-rightpanel-bmrk-saved {
  background-color: undefined;
}

.RH-LAYOUT-RIGHTPANEL-print-button {
  background-color: undefined;
}

.RH-LAYOUT-RIGHTPANEL-highlight-remove-button {
  background-color: undefined;
}

.RH-LAYOUT-FAVORITE-text {
  color: #4d4d4d;
}

.RH-LAYOUT-SEARCHRESULTS-result-item-summary {
  color: #707070;
  background-color: undefined;
}

.RH-LAYOUT-SEARCHRESULTS-results-outer-box {
  background-color: undefined;
}

.RH-LAYOUT-SEARCHRESULTS-results-titlebar {
  color: #172664;
}

.RH-LAYOUT-SEARCHRESULTS-result-item-path {
  color: undefined;
  background-color: undefined;
}

.RH-LAYOUT-SEARCHRESULTS-results-header {
  color: undefined;
}

.rh-layout-SEARCHRESULTS-search-results-container-show a {
  color: #6A737C;
}

.rh-layout-SEARCHBOX-search-textfield-selected {
  color: #241a1a;
  background-color: white;
  border-color: #172664;
}

.RH-LAYOUT-SEARCHBOX-predictions-box {
  background-color: white;
  color: undefined;
}

.RH-LAYOUT-INDEX-search-field {
  background-color: white;
  color: undefined;
}

.RH-LAYOUT-GLOSSARY-search-field {
  background-color: white;
  color: undefined;
}

.RH-LAYOUT-LEFTPANEL-tree-item:hover {
  background-color: aliceblue;
}

.RH-LAYOUT-SEARCHRESULTS-results-inner-box .RH-LAYOUT-SEARCHRESULTS-results-header {
  color: #172664;
}

.rh-layout-TOOLBAR-tool-bar .RH-LAYOUT-SEARCHBOX-predictions-box {
  color: #6A737C;
}

.RH-LAYOUT-BCRUMBS-label {
  color: #707070;
}

/*---^^var colors--------------------vv ignore selectors--------------------------------------------------*/

.rh-layout-footer-outer-box {
  width: 100%;
  display: flex;
  padding: 1rem;
  box-sizing: border-box;
}

.rh-layout-footer-inner-left-box {
  height: 100%;
  width: 40%;
  float: right;
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.rh-layout-footer-imgTag {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
}

.rh-layout-footer-inner-right-box {
  height: 100%;
  width: 60%;
  float: right;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
}

.rh-layout-footer-inner-right-box1 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.rh-layout-footer-inner-right-box2 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.rh-layout-footer-inner-right-box3 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.rh-layout-footer-inner-right-box4 {
  height: 100%;
  text-align: right;
  box-sizing: border-box;
  margin-right: 2rem;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-outer-box {
  height: fit-content;
  width: 100%;
  display: flex;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-left-box {
  height: fit-content;
  width: 30%;
  float: right;
  display: flex;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-imgTag {
  width: 1.5rem;
  height: 1.5rem;
  padding-right: 0.5rem;
}

.rh-layout-footer-inner-right-box p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box {
  height: 100%;
  width: 70%;
  float: right;
  display: flex;
  flex-direction: column;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box1 {
  height: 100%;
  width: 100%;
  float: right;
  display: flex;
  flex-direction: column;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box2 {
  height: 100%;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box3 {
  height: 100%;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-footer-inner-right-box4 {
  height: 100%;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-container {
  color: #6A737C;
  background-color: undefined;
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-hide-logo-on-search {
  display: none;
}

.RH-LAYOUT-LEFTPANEL-container .frameless-hide {
  min-width: unset;
}

.RH-LAYOUT-LEFTPANEL-accordian .RH-LAYOUT-GLOSSARY-container {
  font-size: 0.9rem;
  overflow: auto;
  padding: 1rem;
}

.RH-LAYOUT-LEFTPANEL-accordian .RH-LAYOUT-INDEX-container {
  font-size: 0.9rem;
  overflow: auto;
  padding: 1rem;
}

.RH-LAYOUT-LEFTPANEL-accordian .RH-LAYOUT-LEFTPANEL-content-box {
  padding: 1rem;
}

.RH-LAYOUT-LEFTPANEL-accordian .rh-layout-LEFTPANEL-tree-view {
  font-size: 0.9rem;
  overflow: auto;
  height: 100%;
}

.rh-layout-BODY-body {
  height: calc(100% - 4rem);
}

.RH-LAYOUT-thumbnail-close {
  background-image: url('cross.svg');;;
}

.rh-popover {
  position: absolute;
}
.RH-LAYOUT-HEADER-container {
  color: #ffffff;
  background-color: #0087a9;
}

.RH-LAYOUT-HEADER-logo {
  background-size: 48px 48px;
  margin-right: 1rem;
  height: 48px;
  width: 48px;
  background-image: url('nuclias-favicon.svg');;;
}

.RH-LAYOUT-HEADER-title {
  color: #ffffff;
  font-weight: bold;
}



.RH-LAYOUT-LEFTPANEL-container {
  border-width: 1px;
  border-style: none;
  border-color: #0C96C4;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}

.RH-LAYOUT-LEFTPANEL-tab-box {
  background-color: #daeff6;
}

.RH-LAYOUT-LEFTPANEL-tab-item {
  font-size: 1rem;
  color: #6A737C;
}

.RH-LAYOUT-LEFTPANEL-tab-selected {
  color: #0C96C4;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  background-color: #ffffff;
}

.rh-layout-LEFTPANEL-toc-icon-open {
  background-color: #daeff6;
}

.RH-LAYOUT-LEFTPANEL-tree-item {
  color: #6A737C;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.RH-LAYOUT-LEFTPANEL-tree-item:hover {
  color: #0c96c4;
}

.RH-LAYOUT-LEFTPANEL-expand-icon {
  transition: transform 0.5s ease;
  background-size: 16px 16px;
  background-image: url('small-triangle-right.svg');;;
}

.RH-LAYOUT-LEFTPANEL-collapse-icon {
  transform: rotate(90deg);
  transition: transform 0.5s ease;
  background-size: 16px 16px;
  background-image: url('small-triangle-right.svg');;;
}

.rh-layout-INDEX-selected-item {
  font-weight: bold;
  color: #0C96C4;
  background-color: #daeff6;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border-width: 4px;
  border-style: none;
  border-color: #0c96c4;
  border-left: 0;
  border-top: 0;
  border-bottom: 0;
}

.RH-LAYOUT-TOOLBAR-toolbar-box {
  background-color: #daeff6;
  color: #6A737C;
}

.RH-LAYOUT-TOOLBAR-panel-show {
  background-image: url('slide-right.svg');;;
}

.RH-LAYOUT-TOOLBAR-panel-hide {
  background-image: url('slide-left.svg');;;
}

.RH-LAYOUT-TOOLBAR-menu-close {
  background-image: url('slide-left.svg');;;
}

.RH-LAYOUT-TOOLBAR-menu {
  background-image: url('slide-right.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-0 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('expand.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-0 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('collapse.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-1 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('filter.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-1 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('filter-applied.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-2 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('bookmarks.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-2 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('bookmarks-applied.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-3 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('download.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-3 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('download-applied.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-4 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('');;;
}

.RH-LAYOUT-TOOLBAR-button-4 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('download-applied.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-5 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('bookmark-add.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-5 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('share-applied.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-6 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('Dark.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-6 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('light.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-7 .RH-LAYOUT-TOOLBAR-button-icon {
  background-image: url('Dark.svg');;;
}

.RH-LAYOUT-TOOLBAR-button-7 .RH-LAYOUT-TOOLBAR-button-icon-applied {
  background-image: url('light.svg');;;
}
.RH-LAYOUT-CENTERPANEL-container {
  width: calc(100% - 23rem);
  padding-left: 2rem;
  padding-bottom: 4rem;
}


.RH-LAYOUT-CENTERPANEL-top-panel {
  border-width: 1px;
  border-style: none;
  border-color: #000000;
}


.RH-LAYOUT-CENTERPANEL-topic-box {
  overflow: hidden;
}



.RH-LAYOUT-SEARCHRESULTS-container {
  font-family: 'Open Sans';
}

.RH-LAYOUT-SEARCHRESULTS-results-outer-box {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-width: 1px;
  border-style: none;
  border-color: #000000;
  background-color: #ffffff;
}

.RH-LAYOUT-SEARCHRESULTS-results-close {
  background-image: url('close.svg');;;
}

.RH-LAYOUT-SEARCHRESULTS-results-inner-box .RH-LAYOUT-SEARCHRESULTS-results-header {
  color: #3A4147;
}

.RH-LAYOUT-SEARCHRESULTS-result-item {
  padding: 1rem 3rem;
}

.RH-LAYOUT-SEARCHRESULTS-results-inner-box .RH-LAYOUT-SEARCHRESULTS-result-item .RH-LAYOUT-SEARCHRESULTS-result-item-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.RH-LAYOUT-SEARCHRESULTS-result-item-summary {
  font-size: 1rem;
  padding: 0.5rem 0;
  color: #6A737C;
}

.RH-LAYOUT-SEARCHRESULTS-result-item-path {
  color: #A3A3A3;
}
.RH-LAYOUT-RIGHTPANEL-container {
  padding: 3rem 2rem 0 2rem;
  height: calc(100vh - 11rem);
}

.RH-LAYOUT-RIGHTPANEL-top-buttons {
  display: none;
  justify-content: center;
  margin: 0 1rem 1.5rem 1rem;
  background-color: #f7f7f7;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.RH-LAYOUT-RIGHTPANEL-fav-button {
  background-color: #ffffff;
  background-image: url('bookmark.svg');;;
}

.RH-LAYOUT-RIGHTPANEL-rightpanel-bmrk-saved {
  background-image: url('bookmark-saved.svg');;;
}

.RH-LAYOUT-RIGHTPANEL-print-button {
  background-color: #ffffff;
  background-image: url('print.svg');;;
}

.RH-LAYOUT-RIGHTPANEL-highlight-remove-button {
  background-color: #ffffff;
  background-image: url('highlighter.svg');;;
}

.RH-LAYOUT-RIGHTPANEL-pageup-button {
  background-size: 24px 24px;
  background-color: #172664;
  background-image: url('arrow-up.svg');;;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  margin-bottom: 16px;
}

.RH-LAYOUT-RIGHTPANEL-fullscreen-button {
  background-size: 24px 24px;
  background-color: #172664;
  background-image: url('fullscreen.svg');;;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  margin-bottom: 16px;
}

.RH-LAYOUT-RIGHTPANEL-regular-screen-button {
  background-size: 24px 24px;
  background-image: url('regularscreen.svg');;;
  margin-bottom: 16px;
}
.RH-LAYOUT-HOMEPAGE-TITLEBAR-container {
  background-image: url('nuclias-connect-cover-bg-03.jpg');;;
  font-family: 'Open Sans';
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-title-bar {
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-right: 0.5rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-logo {
  margin-right: 1rem;
  height: 64px;
  width: 64px;
  background-image: url('nuclias-favicon.svg');;;
  background-size: 64px 64px;
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-title {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Open Sans';
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-caption-bar {
  display: grid;
}

.RH-LAYOUT-HOMEPAGE-TITLEBAR-caption {
  color: #FFFFFF;
  font-weight: bold;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-outer-box {
  margin: auto;
  width: 40rem;
  margin-bottom: 30px;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-icon {
  background-size: 32px 32px;
  background-image: url('search-home.svg');;;
  text-align: left;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-text-field {
  font-size: 14px;
  color: #454545;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-predictions-box {
  color: #607896;
  width: 40rem;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-prediction-item {
  padding-left: 4.0rem;
  display: block;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-clear-icon {
  color: #172664;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-prediction-item:hover {
  background-color: #eaeef4;
}

.RH-LAYOUT-HOMEPAGE-SEARCHBOX-prediction-item-selected {
  background-color: #eaeef4;
}

.RH-LAYOUT-HOMEPAGE-TOC-container {
  min-height: calc(100% - 24rem);
  background-color: #ffffff;
}

.RH-LAYOUT-HOMEPAGE-TOC-toctiles {
  background-color: #ffffff;
}

.RH-LAYOUT-HOMEPAGE-TOC-toc-list {
  margin: 3rem 5rem;
}

.RH-LAYOUT-HOMEPAGE-TOC-tile-box {
  width: 18.0rem;
  font-size: 1.0rem;
  background-image: url('');;;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #e3e3e3;
}

.RH-LAYOUT-HOMEPAGE-FOOTER-container {
  background-color: #f6f6f6;
  font-size: 14px;
  color: #5f5f5f;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.RH-LAYOUT-HOMEPAGE-TOPICAREA-container {
  background-color: #ffffff;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-container {
  position: relative;
  padding: 2rem 5rem 0 5rem;
  font-family: 'Open Sans';
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-results-header {
  line-height: 2rem;
  display: flex;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-results-header-label {
  color: #607896;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-close-icon {
  background-image: url('close.svg');;;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item-summary {
  color: #607896;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-result-item-path {
  color: #5f5f5f;
}

.RH-LAYOUT-MINITOC-container {
  display: none;
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.RH-LAYOUT-MINITOC-caption {
  color: #454545;
}

.rh-layout-MINITOC-rightpanel-minitoc-list ol {
  text-decoration: none;
  padding: 0;
}

.RH-LAYOUT-MINITOC-item {
  color: #454545;
  font-size: 14px;
}

.RH-LAYOUT-MINITOC-selected-item {
  color: #0087a9;
  font-weight: bold;
  text-decoration: underline;
}

.RH-LAYOUT-MINITOC-item-level-2 {
  margin-left: 1em;
  padding-left: 1em;
}

.RH-LAYOUT-MINITOC-item-level-3 {
  padding-left: 2em;
  margin-left: 2em;
}

.RH-LAYOUT-MINITOC-item-level-4 {
  display: none;
  padding-left: 3em;
}

.RH-LAYOUT-MINITOC-item-level-5 {
  display: none;
  padding-left: 4em;
}

.RH-LAYOUT-MINITOC-item-level-6 {
  display: none;
}
.RH-LAYOUT-FILTERS-container {
  background-color: #f7f7f7;
  background-image: url('');;;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.RH-LAYOUT-FILTERS-caption {
  color: #454545;
}

.RH-LAYOUT-FILTERS-resetall{
  background-image: url('filter_clearall.svg');;;
}

.RH-LAYOUT-FILTERS-group-box {
  color: #454545;
}


.RH-LAYOUT-FILTERS-filter-selected {
  justify-content: center;
}

.RH-LAYOUT-FILTERS-filter-selected-remove {
  background-image: url('cross_selectpanel.svg');;;
}




.RH-LAYOUT-BCRUMBS-container {
  border-width: 1px;
  border-style: none;
  border-color: #000000;
  color: #5f5f5f;
}

.RH-LAYOUT-BCRUMBS-label {
  font-weight: bold;
  border-width: 1px;
  border-style: none;
  border-color: #5f5f5f;
  color: #5f5f5f;
}

.RH-LAYOUT-BCRUMBS-list-box {
  color: #5f5f5f;
}

.RH-LAYOUT-BCRUMBS-active-topic {
  color: #6A737C;
}
.RH-LAYOUT-BRS-container {
  margin-bottom: 8px;
}

.RH-LAYOUT-BRS-prev-box {
  color: #ffffff;
  background-color: #0087a9;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
}

.RH-LAYOUT-BRS-prev-box:before {
  background-image: url('chevron-left.svg');;;
}

.RH-LAYOUT-BRS-next-box {
  color: #ffffff;
  background-color: #0C96C4;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.RH-LAYOUT-BRS-next-box:after {
  background-image: url('chevron-right.svg');;;
}
.RH-LAYOUT-FAVORITE-container {
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.RH-LAYOUT-FAVORITE-header {
  color: #454545;
}

.RH-LAYOUT-FAVORITE-label {
  color: #454545;
  font-weight: bold;
}


.RH-LAYOUT-FAVORITE-edit-button {
  background-size: 16px 16px;
  background-image: url('edit.svg');;;
}

.RH-LAYOUT-FAVORITE-edit-button-applied {
  background-size: 16px 16px;
  background-image: url('edit-applied.svg');;;
}

.RH-LAYOUT-FAVORITE-close-button {
  background-size: 16px 16px;
  background-image: url('close.svg');;;
}

.RH-LAYOUT-FAVORITE-item {
  font-size: 14px;
  color: #454545;
}

.RH-LAYOUT-FAVORITE-delete-button {
  background-size: 16px 16px;
  background-image: url('delete.svg');;;
}

.RH-LAYOUT-SEARCHBOX-searchbar {
  background-image: url('search.svg');;;
  background-size: 0 0;
}

.RH-LAYOUT-SEARCHBOX-search-icon {
  width: 1.875rem;
  height: 1.875rem;
  background-image: url('search.svg');;;
}

.rh-layout-HEADER-search .RH-LAYOUT-SEARCHBOX-search-icon {
  width: 2.8rem;
  height: 2.8rem;
  background-image: url('search.svg');;;
}

.RH-LAYOUT-SEARCHBOX-search-textfield {
  border-style: unset;
  color: #6A737C;
  font-size: 14px;
  height: 32px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
}

.rh-layout-SEARCHBOX-search-textfield-selected {
  border-width: 0.125rem;
}

.RH-LAYOUT-SEARCHBOX-search-textfield:focus {
  border-width: 2px;
  border-style: none;
  border-color: #0c96c4;
}

.RH-LAYOUT-SEARCHBOX-predictions-box {
  margin-left: 2.875rem;
  color: #6A737C;
}

.RH-LAYOUT-SEARCHBOX-clear-icon {
  height: 2rem;
}

.RH-LAYOUT-SEARCHBOX-prediction-item {
  color: #6A737C;
}

.RH-LAYOUT-SEARCHBOX-prediction-item:hover {
  background-color: #daeff6;
}


.RH-LAYOUT-GLOSSARY-search-box {
  padding-right: 1px;
  padding-bottom: 1em;
}


.RH-LAYOUT-GLOSSARY-search-field {
  border-width: 1px;
  border-style: none;
  border-color: #d1d1d1;
  font-size: 14px;
  color: #454545;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  text-decoration: underline;
}

.RH-LAYOUT-GLOSSARY-term-label {
  color: #172664;
  font-weight: bold;
}

.RH-LAYOUT-GLOSSARY-term-def {
  color: #6A737C;
}

.RH-LAYOUT-GLOSSARY-term-label:hover {
  color: #172664;
  text-decoration: underline;
}


.RH-LAYOUT-INDEX-search-box {
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  padding-bottom: 1em;
}


.RH-LAYOUT-INDEX-search-field {
  border-width: 1px;
  border-color: #d1d1d1;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 14px;
  color: #454545;
}

.rh-layout-index-item-content {
  margin-left: 0px;
  color: #0C96C4;
}

.RH-LAYOUT-INDEX-item {
  color: #0087a9;
}



.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-headplaceholder {
  position: sticky;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HEADER-title {
  font-size: 0.875rem;
  font-weight: 600;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-container {
  width: 100%;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-toc-icon-div {
  left: 1rem;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-TOOLBAR-panel-show {
  background-image: url('slide-right.svg');;;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-LEFTPANEL-panel-show {
  background-image: url('slide-left.svg');;;
}

.RH-LAYOUT-BODY-mobile-view .rh-selectdetails {
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-CENTERPANEL-topic-box {
  margin: 0 2rem;
  width: calc(100% - 5rem);
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-BRS-container {
  margin: 0 2rem;
  width: calc(100% - 4rem);
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-BODY-body {
  height: calc(100% - 4rem);
}

.RH-LAYOUT-BODY-mobile-view .rh-layout-BODY-main {
  position: absolute;
}


.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-caption-bar {
  display: grid;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-TITLEBAR-title-bar {
  background-color: transparent;
}

.RH-LAYOUT-HOMEPAGE-SEARCHRESULTS-container .RH-LAYOUT-SEARCHRESULTS-gloss-term-desc {
  color: #454545;
}

.RH-LAYOUT-LEFTPANEL-tree-outer-wrapper {
  transition: all 0.5s ease;
}

.rh-layout-MINITOC-minitoc-base-ol > ol {
  list-style: none;
}

.RH-LAYOUT-BODY-mobile-view .RH-LAYOUT-HOMEPAGE-SEARCHBOX-outer-box {
  display: flex;
  width: 30rem;
  height: 3rem;
  justify-content: center;
}

.rh-layout-SEARCHBOX-search-selected .RH-LAYOUT-SEARCHBOX-search-icon {
  background-image: url('search.svg');;;;;;;;;;;;;;;;;;;;;;;;;;;
}

.RH-LAYOUT-INDEX-container  a {
  color: #0087a9;
  font-weight: bold;
}